[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"
git adddjango-extensions = "*"
drf-yasg = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
